@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Montserrat:wght@600&family=Poppins:wght@400;500;600;700&family=Roboto&display=swap");

:root {
  --white: #ffffff;
  --secondary: #22343d;
  --green: #02897a;
  --blue: #173a56;
  --lightblue: #bcd0e5;
  --dark: #000000;
  --lightgray: #dedede;
  --gray: #737373;
  --darkblue: #252b42;
  --darkgreen: #016156;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
}
.container {
  max-width: 1091px;
  margin: 0 auto;
}
.font-size_1626 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--secondary);
}
.dark .font-size_1626 {
  color: var(--white);
}
.font-size_2233 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: var(--secondary);
}
.dark .font-size_2233 {
  color: var(--white);
}
.font-size_2440 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
}
.font-size_3248 {
  margin-bottom: 23px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--secondary);
}
.dark .font-size_3248 {
  color: var(--white);
}
.font-size_3451 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: var(--secondary);
}
.dark .font-size_3451 {
  color: var(--white);
}
.btn {
  width: 175px;
  height: 53px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  border: none;
  background: var(--green);
  border-radius: 4px;
  border: 2px solid var(--green);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  color: var(--green);
  background-color: var(--white);
}
.dark .btn {
  background: var(--white);
  color: var(--secondary);
}
.dark .btn:hover {
  background: var(--darkgreen);
  color: var(--white);
}
@media screen and (max-width: 1170px) {
  .container {
    max-width: 90%;
  }
  .font-size_1626 {
    font-size: 15px;
    line-height: 23px;
  }
  .font-size_2233 {
    font-size: 21px;
    line-height: 30px;
  }
  .font-size_3248 {
    margin-bottom: 10px;
    font-size: 29px;
    line-height: 45px;
  }
  .font-size_3451 {
    font-size: 33px;
    line-height: 48px;
  }
}
@media screen and (max-width: 900px) {
  .font-size_3248 {
    margin-bottom: 10px;
    font-size: 27px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .font-size_1626 {
    font-size: 15px;
    line-height: 23px;
  }
  .font-size_2233 {
    font-size: 21px;
    line-height: 30px;
  }
  .font-size_3248 {
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 38px;
  }
  .font-size_3451 {
    font-size: 33px;
    line-height: 48px;
  }
}
@media screen and (max-width: 600px) {
  .font-size_3248 {
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 35px;
  }
}
@media screen and (max-width: 430px) {
  .btn {
    width: 140px;
    height: 45px;
    font-size: 12px;
  }
  .font-size_1626 {
    font-size: 14px;
    line-height: 20px;
  }
  .font-size_2233 {
    font-size: 19px;
    line-height: 27px;
  }
  .font-size_3248 {
    margin-bottom: 0px;
    font-size: 22px;
    line-height: 30px;
  }
  .font-size_3451 {
    font-size: 30px;
    line-height: 43px;
  }
}
